@model RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<form asp-controller="Account" asp-action="Register" method="post" EncType="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="UserName"></label><br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="DateBirth"></label><br />
        <input asp-for="DateBirth" />
        <span asp-validation-for="DateBirth"></span>
    </div>
    <div>
        <label for="uploadImage">Аватар</label><br />
        <input type="file" name="uploadImage" id="uploadImage">
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
